.hello {
   font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
   font-size: 3rem;
   color: green;
}

.message {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}